# Build output
bin/
obj/
XppMetadata/
BuildModelResult.*
BuildProjectResult.*
AppPackages/

# IDE
.vs/
*.user
*.suo

# Test results
TestResults/
Resources/
/*.xml


/CompileLabels.xml
/.vs/AAXWarehouseTools/v17/.wsuo
/.vs/AAXWarehouseTools/v17/DocumentLayout.json
